* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Klee One", cursive;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 768px;
  height: 600px;
  margin: 20px auto;
  background-color: #293241;
}

h1 {
  color: #e5e5e5;
}

input,
label,
textarea,
select,
option {
  font-size: 16px;
  border-radius: 4px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
